@font-face {
  font-family: 'CabinetGrotesk';
  font-display: swap;
  src: url('/brand/fonts/CabinetGrotesk-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk';
  font-display: swap;
  src: url('/brand/fonts/CabinetGrotesk-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk';
  font-display: swap;
  src: url('/brand/fonts/CabinetGrotesk-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk';
  font-display: swap;
  src: url('/brand/fonts/CabinetGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk';
  font-display: swap;
  src: url('/brand/fonts/CabinetGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk';
  font-display: swap;
  src: url('/brand/fonts/CabinetGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk';
  font-display: swap;
  src: url('/brand/fonts/CabinetGrotesk-Extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk';
  font-display: swap;
  src: url('/brand/fonts/CabinetGrotesk-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;